html {
  font-size: 16px;
}

body {
  font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
	max-width: 1200px;
  width: 90%;
	margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
  padding: 0 30px;
}


/***** Used the flex property helps extend the border to its true width and height to fit the site *****/
/***** Removed some properties for the h1 tag since they didn't have an effect being there or not *****/
header {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: row wrap;
  flex: 1 1 auto;
}

/***** The bottom border for the header wouldn't align properly so I created a seperate div so it was easier to adjust *****/
.border-header {
  width: 100%;
  border-top: 3px solid #77a466
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 10px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0;
}

header li {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.main-image img {
	width: 100%;
  border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
 
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
  height: auto;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu,
.reviews,
.address {
  padding: 0;
}

.menu {
	list-style: none;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
  margin:0 auto;
	text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}